$body-font: 'Roboto', sans-serif;

$pink: rgb(255, 72, 196);
$blue: rgb(43, 209, 252);
$yellow: rgb(243, 234, 95);
$purple: rgb(192, 77, 249);
$red: rgb(255, 63, 63);

$white: #ffebea;

* {
  margin: 0;
  padding: 0;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  10% {
    transform: scale(0.95);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: scale(0.95);
  }
}

body,
html {
  background: #11373f;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: $body-font;
  color: $white;
}

#canvas,
#ui {
  @extend .full-screen;
}

#ui {
  z-index: 1;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu {
  @extend .full-screen;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 400ms ease-out;
  flex-direction: column;
  opacity: 1;

  .keyboard-controls {
    position: absolute;
    bottom: 100px;
    right: 40px;
  }

  .gamepad-controls {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }

  .logo {
    margin-top: -180px;
  }

  &.hide {
    opacity: 0;
  }
}

#game-over {
  @extend .full-screen;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 400ms ease-out;
  opacity: 1;

  .credits {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .author {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin: 14px;
  }

  .avatar {
    img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px 10px;
  }

  p,
  a {
    display: flex;
    text-decoration: none;
    color: $white;
  }

  &.hide {
    opacity: 0;
  }
}

#game {
  @extend .full-screen;
  opacity: 1;
  transition: opacity 200ms ease-in;

  .points {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 36px;
    font-weight: 100;
    color: rgba(255, 235, 234, 0.5);
    padding-bottom: 6px;
    padding-right: 36px;
    border-bottom: 3px solid rgba(255, 235, 234, 0.5);
  }

  &.hide {
    opacity: 0;
  }
}
