$header-font: 'Trade Winds', cursive;
$body-font: 'Kulim Park', sans-serif, cursive;

$pink: rgb(255, 72, 196);
$blue: rgb(43, 209, 252);
$yellow: rgb(243, 234, 95);
$purple: rgb(192, 77, 249);
$red: rgb(255, 63, 63);

@keyframes swing {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  10% {
    transform: scale(0.95);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: scale(0.95);
  }
}

body,
html {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: $body-font;
  color: $yellow;
}

#canvas,
#ui {
  @extend .full-screen;
}

#ui {
  z-index: 1;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu {
  @extend .full-screen;
  transition: background-color 150ms ease-out;
  background-color: rgba(20, 2, 24, 0.8);
  flex-direction: column;

  .game-title {
    animation: swing 20s infinite ease-in-out;
    font-family: $header-font;
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1), opacity 150ms ease-in;
    transform: scale(1);
    opacity: 1;
    font-size: 7vw;
    color: rgba(20, 2, 24, 1);
    $shadow-color: $yellow;
    text-shadow: 3px 3px 0 $shadow-color, -1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color, -1px 1px 0 $shadow-color,
      1px 1px 0 $shadow-color;
    display: flex;
    flex-direction: column;
    line-height: 1;
    transform: rotate(-5deg);

    span {
      margin-left: 7rem;
    }
  }

  .keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
    left: 5rem;
    transform: scale(0.6);
    transition: transform 150ms ease-out, opacity 150ms ease-out;
    opacity: 0.9;

    .movement {
      background: url('../static/move-wasd.png');
      width: 306px;
      height: 173px;
    }

    .jump {
      background: url('../static/jump-space.png');
      width: 364px;
      height: 90px;
    }

    .boost {
      background: url('../static/boost-shift.png');
      width: 172px;
      height: 90px;
    }
  }

  .start {
    font-size: 2rem;
    opacity: 1;
    transition: opacity 150ms linear;
  }

  &.hide {
    background-color: rgba(20, 2, 24, 0);

    .game-title {
      transform: scale(0.5);
      opacity: 0;
    }

    .start {
      opacity: 0;
    }

    .keyboard {
      transform: scale(0);
      opacity: 0;
    }
  }
}
